body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(255, 0, 191, 0.712);
    position: relative;
    overflow: hidden;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Style fun */
}

.container {
    text-align: center; /* Centre le contenu à l'intérieur */
    align-self: center;
}

h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 20px; /* Espace entre le titre et les boutons */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: popUp 1s ease-out;
}

/* Animation d'apparition du titre */
@keyframes popUp {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les boutons */
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, top 0.5s ease, left 0.5s ease;
    position: relative;
}

button:hover {
    background-color: rgb(255, 0, 128);
    transform: scale(1.1);
}

@keyframes fallingHearts {
    from {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}


#changeAvis{
    width: auto;
    margin-top: 10px;
}
#changeAvis :hover{
    background-color: rgb(255,0,128);
}
.heart {
    position: absolute;
    color: pink;
    font-size: 24px;
    animation: fallingHearts 5s linear infinite;
}

#messageFinaloui, #messageFinalnon {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    color: hotpink;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    z-index: 1000;
}

#messageFinaloui.show, #messageFinalnon.show {
    transform: translate(-50%, -50%) scale(1);

}

#buttonNon.hidden {
    display: none;
}
